<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://www.paypal.com/sdk/js?client-id=<%=paypalClientId%>&components=buttons"></script>
</head>
<body>
    <form method="post" action="/buy/coin">
        <br><br>
        <div class="row">
            <label class="col-sm-2">The Number of Coins:</label>
            <div class="col-sm-10">
                <input type="number" name="coin" id="coin" class="form-control">
            </div>
        </div>
    </form>
    <br><br>
    <div class="row">
        <div id="paypal" style="margin-left: 20%;"></div>
    </div>
    <script src="/script.js" defer></script>
</body>
</html>