<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfull Process</title>
    <link rel="stylesheet" href="/style/css/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
</head>
<body>
    
        <div class="modal-dialog">
          <div class="modal-content">
  
            <div class="modal-header">
            </div>
  
            <div class="modal-body">
              <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Failed Process!</h4>
                <p>Make sure of the entered keys, then try again.</p>
              </div>
            </div>
  
            <div class="modal-footer">
                <a href="http://127.0.0.1:6500/publish/paper">
                    <button type="button" id="confirm_transaction" class="btn btn-danger" data-dismiss="modal">
                        OK
                    </button>
                </a>
            </div>
  
          </div>
        </div>
      </div>
    
</body>
</html>