<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfull Process</title>
    <link rel="stylesheet" href="/style/css/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
</head>
<body>
    
        <div class="modal-dialog">
          <div class="modal-content">
  
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" >&times;</button>
            </div>
  
            <div class="modal-body">
              <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Successful Transaction!</h4>
                <p>You successfully completed your transaction. It will be added to the next block.</p>
              </div>
            </div>
  
            <div class="modal-footer">
              <button type="button" id="confirm_transaction" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
  
          </div>
        </div>
      </div>
    
</body>
</html>