    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Miner</title>
        <link rel="stylesheet" href="/style/css/custom.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="card-body">
                        <h4 class="card-title">Transactions to be added to the next block</h4>
                        <button type="submit" id="refresh_transactions" class="btn btn-primary">
                            Refresh
                        </button>
    
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <table id="unmined_transactions_table" class="table table-bordered" >
                <tr>
                    <th>#</th>
                    <th>Sender Public Key</th>
                    <th>Recipient Public Key</th>
                </tr>
                    <% let count = 0 %>
                    <% requests.forEach(element => {%> 
                        <tr>
                            <td><%= count + 1 %></td>
                            <% count += 1 %>
                            <td><%= element.author_public_key %></td>
                            <td><%= element.recipient_public_key %></td>
                        </tr>
                      <%}) %>
            </table>
    
            <div class="col-lg-12 text-center">
                <input type="button" id="mine_button" class="btn btn-primary btn-lg" value="Mine">
            </div>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="card-body">
                        <h4 class="card-title">Transactions on the blockchain</h4>
                        <button type="submit" id="refresh_blockchain" class="btn btn-primary">
                            Refresh
                        </button>
    
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <table id="transactions_table" class="table table-bordered"  >                
            </table>
        </div>
    
    
        <!-- <script src="/style/libraries/jquery/jquery.min.js"></script>
        <script src="/style/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/style/libraries/DataTables/js/datatables.min.js"></script>
        <script src="/style/librariesDataTables/js/ellipsis.js"></script> -->
    
        <script>
        </script>
    </body>
    </html>